<svg
  class="icon {{ className }}"
  [attr.width]="size"
  [attr.height]="size"
  viewBox="0 0 24 24"
  fill="none"
  [attr.stroke]="stroke"
  [attr.stroke-width]="strokeWidth"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <ng-container *ngFor="let node of nodes">
    <path *ngIf="node[0] === 'path'" [attr.d]="node[1]['d']"></path>
    <circle
      *ngIf="node[0] === 'circle'"
      [attr.cx]="node[1]['cx']"
      [attr.cy]="node[1]['cy']"
      [attr.r]="node[1]['r']"
    ></circle>
    <rect
      *ngIf="node[0] === 'rect'"
      [attr.x]="node[1]['x']"
      [attr.y]="node[1]['y']"
      [attr.width]="node[1]['width']"
      [attr.height]="node[1]['height']"
      [attr.rx]="node[1]['rx']"
      [attr.ry]="node[1]['ry']"
    ></rect>
    <line
      *ngIf="node[0] === 'line'"
      [attr.x1]="node[1]['x1']"
      [attr.y1]="node[1]['y1']"
      [attr.x2]="node[1]['x2']"
      [attr.y2]="node[1]['y2']"
    ></line>
    <polyline
      *ngIf="node[0] === 'polyline'"
      [attr.points]="node[1]['points']"
    ></polyline>
  </ng-container>
</svg>
